<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <h1>Hello world</h1>
    <div id="status-container" class="<%= firebaseStatus.includes('Successfully') ? 'status-success' : 'status-error' %>">
        <p><%= firebaseStatus %></p>
    </div>
</body>
</html>